body,
div, i {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
.product-container i{
background-color: burlywood;
width: 100px;
height: 100px;
border-radius: 50px;
padding-top: 25px;
color: white;
margin-top: 10px;
}

.product-container {
    display: flex;
    justify-content: center;
}

.product-content {
    width: 20vw;
    text-align: center;
}

@media screen and (max-width:1200px) {
    .product-content {
        width: 40vw;
    }

    .product-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {
    .product-content {
        width: 90vw;
    }

    .product-container {
        flex-wrap: wrap;
    }
}