@font-face {
    font-family: 'font1';
    src: url(../NanumSquareAcB.woff);
}

.flex-container {
    display: flex;
    background-color: coral;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.flex-item {
    width: 100px;
    height: fit-content;
    margin: 5px;
    text-align: left;
}

div,
input,
textarea {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'font1';
}

.main-background {
    width: 100%;
    height: 800px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(70%);
    padding: 1px;
    background-attachment: fixed;
    text-align: center;
    position: relative;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 3;
}

.content {
    color: white;
    font-size: 25px;
}

.main-description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eee;
    font-size: 15px;
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 800px;
    top: -20px;
    text-align: center;
    z-index: 1;
}

input[type=text] {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

body,
div,
i {
    box-sizing: border-box;
}

body {
    margin: 0px;
    position: relative;
}

.product-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    color: white;
    margin-top: 10px;
}

.product-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.product-content {
    width: 20vw;
    text-align: center;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%;
    margin: auto;
}

.shop-item {
    width: 33%;
    padding: 10px;
}

.shop-item img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 0%;
    margin-top: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 1s;
    transition-timing-function: cubic-bezier();
    text-align: center;
    padding: 15%;
}

.shop-item:hover {
    .overlay{
        opacity: 1;
        margin-top:50% ;
        height: 50%;
    }
}

.ani-text{
    text-align: center;
}

.ani-text:hover{
    animation-name: goback;
    animation-duration: 1s;
}
@keyframes goback{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(100px);
    }
}

.shake-button:hover {
    animation-name: shake;
    animation-duration: 1s;
}

@keyframes shake{
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0);
    }
}

.rotating-plus{
    font-size: 30px;
    width: fit-content;
}

.rotating-plus:hover{
    animation-name: rotate-plus;
    animation-duration: 1s;
}

@keyframes rotate-plus{
    0%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: scale(2) rotate(45deg);
    }
}


.menu{
    position: absolute;
    z-index: 5;
    width: 200px;
    background-color: black;
    color: white;
    height: 100%;
    top:0;
    left:-100px;
    text-align: center;
}
.menu-list{
    list-style: none;
    text-align: left;
    transition: all 1s;
}
.menu-title{
    text-align: right;
    padding: 30px;
    transition: all 1s;
}
.menu:hover{
    animation-name:sidebar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    .menu-title{
        text-align: center;
    };
    .menu-list{
        animation-name: listorder;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        text-align: center;
        margin-right: 35px;
    }

}
@keyframes listorder{
    0%{
        transform: translateX(0)
    }
    25%{
        transform: skewx(-30deg) translateX(80px)
    }
    100%{
        transform: skew(none) translateX(-200px)
    }
}

@keyframes sidebar{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(100px)
    }
}



@media screen and (max-width:1200px) {
    .product-content {
        width: 40vw;
    }

    .product-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:768px) {
    .product-content {
        width: 90vw;
    }

    .product-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 30px;
    }
}