.grey{
    background-color: lightgrey;;
    height: 2000px;
    margin-top: 500px;
}

.img{
    float: right;
    width: 300px;
    position: sticky;
    top: 100px;
}

.text{
    float: left;
    width: 300px;
}