@use 'reset';

@mixin list-default{
    list-style: none;
    width: 200px;
    height: 50px;
    font-size: $font-small;
}

@mixin list-active{
    &:active{
        background-color: rgb(0, 105, 210);
        color: white;
    }
}

@mixin box-color($color, $backgroundcolor){
    color: $color;
    background-color: $backgroundcolor;
    padding: 10px;
    border: 1px solid $color;
}

$font-small: 16px;
$font-medium: 24px;
$font-large: 36px;

.container{
    .test-list{
        background-color: white;
    }
    .list-content{
        @include list-default();
        border: 1px solid grey;
    }
}

.active{
    @include list-active()
}

.alert{
    width: 80%;
    height: 50px;
}

.box-green{
    @include box-color(green, yellowgreen);
}

.box-blue{
    @include box-color(blue, lightblue);
}

.box-yellow{
    @include box-color(yellow, lightyellow);
}

.col-6{
    width: 50%;
}
.col-4{
    width: 33.33%;
}

.col-3{
    width: 25%;
}
.row{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}